<meta charset="utf-8" />
	<title>Security Portal</title>
	<link rel="stylesheet" href="/site/assets/dist/jointjs/joint.css" />
	<link rel="stylesheet" href="/site/assets/dist/bootstrap/bootstrap.css" />
	<script src="/site/assets/dist/jquery/jquery.js"></script>
	<script src="/site/assets/dist/lodash/lodash.js"></script>
	<script src="/site/assets/dist/backbone/backbone.js"></script>
	<script src="/site/assets/dist/jointjs/joint.js"></script>
	<script src="/site/assets/dist/chartjs/Chart.bundle.js"></script>
	<script src="/site/assets/dist/moment/moment.js"></script>
	<script src="/site/assets/js/site.js"></script>

	<link rel="stylesheet" href="/site/assets/css/suncorp_base.css" />
	<link rel="stylesheet" href="/site/assets/dist/fontawesome/css/fontawesome-all.css" />
	<link rel="stylesheet" href="/site/assets/css/site.css" />
	<link rel="shortcut icon" type="image/x-icon" href="/site/assets/img/favicon.ico">