<div id="dialog_screen" onclick="asg.ui.closeDialog();"></div>

	<div id="modal_dialog" class="sg-Modal">
		<div class="sg-Modal-content">
			<div class="sg-Modal-header" id="modal_body_header">
				<span id="modal_header_text" class="sg-Modal-headerTitle"></span>
				<span class="sg-Modal-headerBtnClose" onclick="asg.ui.closeDialog();"></span>
			</div>
			<div id="modal_body_content" class="sg-Modal-body">
				<p></p>
			</div>
			<div id="modal_body_footer" class="sg-Modal-footer">
				<div class="row">
					<div class="col-xs-12 sg-u-textRight" id="modal_button_content"></div>
				</div>
			</div>
		</div>
	</div>