<div class="Page">

		<div class="Main" id="browser-messages">
			<div class="Main-content">
				<section class="BgPlaceholder BgPlaceholder--white">
					<div class="Middle-column Middle-column--Nil">
					</div>
				</section>
			</div>
		</div>

		<header class="Header">
			<div class="Header-desktop">
				<div class="HeaderInfo">
					<div class="HeaderInfo-content sg-u-clearfix">
						<ul>
							<li class="BrandShared-navigation Header-desktop-element">
								<div class="HeaderInfo-logo">
									<a href="https://www.suncorp.com.au" class="Image-linkWrapper">
										<img class="cq-dd-image" data-emptytext="Image" id="img_all_views_4920804145829230533" src="./assets/img/Suncorp_New_Logo.png">
									</a>
								</div>
								<h2>Security Portal</h2>
								<div class="BrandShared-right">
									<div class="HeaderInfo-login">
										<ol class="custom-js-static-links-menu sg-Menu sg-Menu--bar sg-Menu--buttonBar js-Menu--navMenu  " style="max-height: none;">
											<a class="Login-link sg-Btn sg-Btn--primary" href="/secure/login/my-insurance-manager.html" target="_blank">
												<i class="Icon Icon-lock--default Icon--small"></i>
												<span>Login</span>
											</a>
										</ol>
									</div>
								</div>
							</li>
							<li class="BrandSecond-navigation">
								<div class="Secondary-navigation">
									<div class="Navigation-wrapper">
										<ol id="asg_main_menu" class="sg-Menu sg-Menu--bar js-Menu--navMenu sg-Menu--barMegaMenu sg-Menu--secondary  sg-Menu--responsiveLeft sg-Menu--collapseXlarge" style="max-height: none;">

										</ol>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</header>